
.category {
width: 1200px;
height: 50px;
background-image: linear-gradient(180deg, rgb(246,64,45) 0%, rgb(254,98,50) 100%);
}

.category__list {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.category_list-items:not(:last-child) {
    border-right: 1px solid black;
}

.category_list-items a {
    display: block;
    padding: 0 80px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

