:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #fb5533;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --nar-height: 34px;
    --search-height: calc(var(--header-height) - var(--nar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* Test */

.grid__column-2 {
    width: 16.6667%;
    padding-left: 12px;
    padding-right: 12px;
}

.grid__column-10 {
    width: 83.3333%;
    padding-left: 12px;
    padding-right: 12px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    animation: fadeIn linear 0.15s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    

}
.modal__body {    
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.15s;
}

/* Button Style */
.btn {
    min-width: 142px;
    height: 34px;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.auth-form__control-back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);

}

.btn.btn--disable {
    color: #666;
    background-color: #888;
    cursor: default;
}

.btn.btn--size-s {
    height: 30px;
    font-size: 1.2rem;
    padding: 0 8px;
}


