.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    height: var(--nar-height);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0px;
    margin: 4px 0px 0px 0px;
    display: flex;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}


.header__navbar-item--QR:hover .header__QA-code {
    display: block;
}

.header__navbar-item--notify:hover .header__notify{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 200;
}

.header__navbar-item:hover,
.header__navbar-icon:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}


.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: solid 1px #fff;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 4px;   
}
.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;

}
.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-icon {
    display: inline-flex;
    align-items: center;
}
.header__navbar-tittle--no-pointer{
    cursor: text;
    color: var(--white-color);
}

.header__navbar-icon {
    font-size: 2rem;
    margin: 0 4px;
}
.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-icon {
    align-items: center;
}

.header__navbar-tittle--no-pointer {
    cursor: text;
    color: var(--white-color);
}
/* QA-code header*/
.header__QA-code {
    width: 180px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn 0.5s ease-in;

}

.header__QA-code:before {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0px;
    top: -20px;
}

.header__QA-code-img {
    width: 100%;

}

.header__apps-downloads {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__QA-link:first-child {
    margin-left: 11px;
}

.header__QA-link:last-child {
    margin-right: 11px;
}

.header__apps-downloads-img {
    height: 14px;

}

/*Header notification*/

.header__notify{
    position: absolute;
    width: 404px;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    display: none;
    -webkit-animation: headerNotifyGrowth ease-in .25s;
    -moz-animation: headerNotifyGrowth ease-in .25s;
    -o-animation: headerNotifyGrowth ease-in .25s;
    -ms-zoom-animation: headerNotifyGrowth ease-in .25s;
    will-change: opacity, transform;
    transform-origin: calc(100% - 20px) top;
    z-index: 1;
    border-radius: 3px;

}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify:before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 5px;
    top: -27px;
}

.header__notify:after {
    content: "";
    display: block;
    width: 95px;
    height: 20px;
    position: absolute;
    right: -1px;
    top: -15px;
}



.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    user-select: none;
    

}
.header__notify-header h3{
    color: var(--text-color);
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0 0 0 12px;
    line-height: 40px;
}
.header__notify-list {
    padding-left: 0;
    padding-top: 0;


}
.header__notify-items {
    display: flex;
}

.header__notify-items:hover {
    background-color: #f7f7f7;
}

.header__notify-items--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px 0px 12px 12px;
    text-decoration: none;

}
.header__notify-img {
    width: 48px;
    object-fit: contain;


}
.header__notify-info {
    margin-left: 12px;

}
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6rem;
}
.header__notify-description {
    display: block;
    font-size: 1.3rem;
    color: #888;
    line-height: 1.6rem;
}

.header__notify-footed {
    display: flex;
}

.header__notify-footed-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* Register form */

.auth-form {
    width: 500px;    
    background-color: var(--white-color);
    overflow: hidden;    
    border-radius: 5px;

}
.auth-form__container {
    padding: 0 32px;


}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;


}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);


}
.auth-form__switch-btn {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;

}
.auth-form__form {


}
.auth-form__group {


}
.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;


}
.auth-form__policy-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 5px;
}
.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__control {
    margin-top: 80px;    
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 34px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 20px;

}

.btn--with-icon {
    text-decoration: none;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #4267B2;
}

.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials--google{
    background-color: var(--white-color);
}

.auth-form__socials--google
.auth-form__socials-icon {
    color: var(--black-color);
}

.auth-form__socials--title {
    margin: 0 36px;
}

/* Login form */

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    
}

.auth-form__help-link {
    text-decoration: none;    
    color: var(--text-color);
    
}

.auth-form__help--separate{
    display: block;
    border-left: 1px solid;
    border-color: var(--border-color);
    height: 1.4rem;
    margin: 6px 12px 0px;
}

.auth-form__help-link-forgot {
    color: var(--primary-color);
}

/* User info */

.header__navbar-item-user {
    display: flex;
    align-items: center;
    position: relative;
}


.header__navbar-item-user:hover .header__navbar-item-user-container {
    display: block;
}

.header__navbar-item-user-avt {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.header__navbar-item-user-name {
    font-size: 1.3rem;
    font-weight: 200;
    color: var(--white-color);
    padding-left: 8px;
}

.header__navbar-item-user-container {
    position: absolute;
    top: calc(100% + 4px);
    z-index: 1;
    right: 0;
    width: 150px;
    background-color: var(--white-color);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);    
    border-radius: 2px;
    display: none;    
}

.header__navbar-item-user-container::before {
    content: "";
    display: block;
    position: absolute;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -25px;
    right: 3px;
    cursor: pointer;
}

.header__navbar-item-user-container::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
    right: 0px;
    cursor: pointer;
}


.header__navbar-item-user-list {    
    list-style: none;    
    padding: 0px;
}

.header__navbar-item-user-list-btn {
    padding: 6px 0px 6px 15px;
}

.header__navbar-item-user-list-btn:hover {
    background-color: #fafafa;
}

.header__navbar-item-user-list-btn:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-item-user-list-btn:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-item-user-list-btn a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__navbar-item-user-list-btn--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-item-user:hover .header__navbar-item-user-name, .header__navbar-item-user-avt
 {
    color: rgba(255, 255, 255, 0.7)
}




/* Header with search */

.header-with-search {
    height: var(--search-height);
    display: flex;
    align-items: center;
}

.header-with-search__logo {
    width: 200px;
}

.header-with-search__logo-link {
    text-decoration: none;
    border: transparent;
}

.header-with-search__logo-img {
    width: 150px;
    padding-left: 10px;
}

.header-with-search__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header-with-search__cart {
    width: 150px;   
    text-align: center; 
}

.header-with-search__cart-icon {
    font-size: 2.5rem;
    color: var(--white-color);
    margin-top: 12px;
}

/* Cart msg */

.header-with-search__cart-wrap {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 0px 12px;
}

.header-with-search__cart-wrap:hover .header-with-search__cart-list {
    display: block;
}

.header-with-search__cart-list {
    position: absolute;
    width: 400px;
    right: 0px;
    top: calc(100% + 2px);
    background-color: var(--white-color);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    display: none;
    cursor: default;
}

.header-with-search__cart-list::before {
    content: "";
    display: block;
    position: absolute;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -25px;
    right: 3px;
    cursor: pointer;
}

.header-with-search__cart-list--no-cart {
    padding: 20px;
}

.header-with-search__cart-list--no-cart .has-items {
    display: none;
}

.header-with-search__cart-list--no-cart .no-cart {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.no-cart {    
    margin: auto;
    display: none;
}


.header-with-search__cart-list--no-cart-img {
    width: 60%;
    margin-bottom: 10px;
}

.header-with-search__cart-list--no-cart-msg {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 1.4rem;
    margin: auto;
}

.header-with-search__cart-notice {
    position: absolute;
    top: 1px;
    right: -7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 1px 10px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--white-color);
}

/* has items */



.header__cart-list-head h3 {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 200;
    color: #999;
    padding: 8px 12px 4px;
    margin: 0;
}

.header__cart-list-products {
    list-style: none;
    margin: 0;
    padding-left: 0px;
}

.header__cart-list-product {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 12px;
}

.header__cart-list-product:hover {
    background-color: #f8f8f8;
}

.header__cart-list-product-img {
    width: 40px;
    height: 40px;
    border: 1px solid #E8E8E8;
}

.header__cart-list-product-info {
    width: 100%;
    margin-left: 12px;

}

.header__cart-list-product-info-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;

}

.header__cart-list-product-info-name h3 {
    margin: 0;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.header__cart-list-product-info-name-price-qnt {
    
}

.header__cart-list-product-info-name-price {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-list-product-info-name-multi {
    margin: 0 8px;
    font-size: .8rem;
}

.header__cart-list-product-info-name-qnt {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.header__cart-list-product-info-classify {
    display: flex;
    justify-content: space-between;
}

.header__cart-list-product-info-class {
    font-size: 1.3rem;
    color: var(--text-color);

}

.header__cart-list-product-info-delete {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-list-product-info-delete:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-list-footer {
    float: right;
    padding: 12px; 
}

.header__cart-list-footer a {
    text-decoration: none;
}

.header__cart-list-footer a:hover {
    background-color: #fb6445;
}


.header__search-input-wrap {
    flex: 1;
    position: relative;
    height: 100%;
}

.header-with-search__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    margin-left: 16px;
    color: var(--text-color);
}

.header__search-selection {
    align-items: center;
    border-left: 1px solid var(--border-color);
    padding-left: 16px;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
}

.header__search-selection-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-selection-icon {
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 3px 16px 0px 8px;
}

.header__search-btn {
    width: 60px;
    height: 34px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    margin-right: 3px;
}

.header__search-btn:hover {
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}
/* Options */
.header__search-options {
    width: 130px;
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    padding-left: 0px;
    background-color: var(--white-color);
    box-shadow: 0 0 3px #ccc;
    border-radius: 2px;
    display: none;
    cursor: pointer;
    animation: fadeIn ease-in 0.2s;
}

.header__search-selection:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    right: 0;
    top: 100%;
}

.header__search-selection:hover .header__search-options{
    display: block;
}

.header__search-option-items {
    font-size: 1.4rem;
    color: var(--text-color);
    padding-left: 22px;
}

.header__search-option-items:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.header__search-option-items:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-items:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-items i {
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 0 8px;    
    display: none;
}

.header__search-option-items--active i {
    display: inline-block;
}

.header-with-search__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search history */

.header__search-history {
    position: absolute;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    top: calc(100% + 4px);
    left: 0;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 3px #ccc;
    display: none;
}

.header__search-history h3 {
    height: 40px;
    color: #666;
    font-weight: 400;
    margin: 0px 18px;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;    
}

.header__search-history-list-item {  
    height: 40px;
    padding: 0 18px;
}

.header__search-history-list-item:hover {
    background-color: #fafafa;
}

.header__search-history-list-item a {
    text-decoration: none;    
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 40px;
    display: block;
}

/* App container */

.app__container {
    background-color: #F5F5F5;

}

.category {    
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__header {
    padding: 10px 10px;
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    /* display: flex;
    align-items: center; */
}

.category__header-icon {
    font-size: 1.6rem;
    padding-right: 5px;
}

.category-list {
    padding: 0px;
    margin: 0 0 10px 0;
    list-style: none;
}

.category-items {
    padding-bottom: 4px;
    position: relative;
}

.category-items--active .category-items__link {
    color: var(--primary-color);
}

.category-items--active .category-items__link::before {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    left: 11px;
    top: 50%;
    transform: translateY(-50%); 
}

.category-items__link {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    position: relative;
    padding: 6px 28px;
    transition: right linear 0.1s;
    right: 0;
}

.category-items__link:hover {
    color: var(--primary-color);
    right: -4px;
}

