.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    height: var(.header__navbar);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0px;
    margin: 4px 0px 0px 0px;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}



.header__navbar-item--QR:hover .header__QA-code {
    display: block;
}

.header__navbar-item--notify:hover .header__notify{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 200;
}

.header__navbar-item:hover,
.header__navbar-icon:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}


.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: solid 1px #fff;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;

}
.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-icon {
    display: inline-flex;
    align-items: center;
}
.header__navbar-tittle--no-pointer{
    cursor: text;
    color: var(--white-color);
}

.header__navbar-icon {
    font-size: 2rem;
    margin: 0 4px;
}
.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-icon {
    align-items: center;
}

.header__navbar-tittle--no-pointer {
    cursor: text;
    color: var(--white-color);
}
/* QA-code header*/
.header__QA-code {
    width: 180px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn 0.5s ease-in;

}

.header__QA-code:before {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0px;
    top: -20px;
}

.header__QA-code-img {
    width: 100%;

}

.header__apps-downloads {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__QA-link:first-child {
    margin-left: 11px;
}

.header__QA-link:last-child {
    margin-right: 11px;
}

.header__apps-downloads-img {
    height: 14px;

}

/*Header notification*/

.header__notify{
    position: absolute;
    width: 404px;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    display: none;
    -webkit-animation: headerNotifyGrowth ease-in .25s;
    -moz-animation: headerNotifyGrowth ease-in .25s;
    -o-animation: headerNotifyGrowth ease-in .25s;
    -ms-zoom-animation: headerNotifyGrowth ease-in .25s;
    will-change: opacity, transform;
    transform-origin: calc(100% - 20px) top;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify:before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 5px;
    top: -27px;
}

.header__notify:after {
    content: "";
    display: block;
    width: 95px;
    height: 20px;
    position: absolute;
    right: -1px;
    top: -15px;
}



.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    user-select: none;
    

}
.header__notify-header h3{
    color: var(--text-color);
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0 0 0 12px;
    line-height: 40px;
}
.header__notify-list {
    padding-left: 0;
    padding-top: 0;


}
.header__notify-items {
    display: flex;
}

.header__notify-items:hover {
    background-color: #f7f7f7;
}

.header__notify-items--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px 0px 12px 12px;
    text-decoration: none;

}
.header__notify-img {
    width: 48px;
    object-fit: contain;


}
.header__notify-info {
    margin-left: 12px;

}
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6rem;
}
.header__notify-description {
    display: block;
    font-size: 1.3rem;
    color: #888;
    line-height: 1.6rem;
}

.header__notify-footed {
    display: flex;
}

.header__notify-footed-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* Register form */

.auth-form {
    width: 500px;    
    background-color: var(--white-color);
    overflow: hidden;    
    border-radius: 5px;

}
.auth-form__container {
    padding: 0 32px;


}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;


}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);


}
.auth-form__switch-btn {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;

}
.auth-form__form {


}
.auth-form__group {


}
.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;


}
.auth-form__policy-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 5px;
}
.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__control {
    margin-top: 80px;    
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 34px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 20px;

}

.btn--with-icon {
    text-decoration: none;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #4267B2;
}

.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials--google{
    background-color: var(--white-color);
}

.auth-form__socials--google
.auth-form__socials-icon {
    color: var(--black-color);
}

.auth-form__socials--title {
    margin: 0 36px;
}

/* Login form */

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    
}

.auth-form__help-link {
    text-decoration: none;    
    color: var(--text-color);
    
}

.auth-form__help--separate{
    display: block;
    border-left: 1px solid;
    border-color: var(--border-color);
    height: 1.4rem;
    margin: 6px 12px 0px;
}

.auth-form__help-link-forgot {
    color: var(--primary-color);
}

/* Header with search */

.header-with-search {
    height: var(--search-height);
    display: flex;
    align-items: center;
}

.header-with-search__logo {
    width: 200px;
}

.header-with-search__logo-img {
    width: 150px;
    padding-left: 10px;
}

.header-with-search__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.header-with-search__cart {
    width: 150px;   
    text-align: center; 
}

.header-with-search__cart-icon {
    font-size: 2.5rem;
    color: var(--white-color);
    margin-top: 12px;
}

.header-with-search__search-input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    margin-left: 16px;
    color: var(--text-color);
}

.header__search-selection {
    display: flex;
    align-items: center;
    border-left: 1px solid var(--border-color);
    padding-left: 16px;   
}

.header__search-selection-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-selection-icon {
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 3px 16px 0px 8px;
}

.header__search-btn {
    width: 60px;
    height: 34px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    margin-right: 3px;
}

.header__search-btn:hover {
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}
