.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 4px;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.6rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}


.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: solid 1px #fff;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;

}
.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-icon {
    display: inline-flex;
    align-items: center;
}
.header__navbar-tittle--no-pointer{
    cursor: text;
    color: var(--white-color);
}