/* mobile - tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    :root {
        --header-height: 60px;
        --nav-height: 0px;
    }

    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
    }
    .header-with-search__cart-list {
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    .header-with-search__cart-list::before {
        display: none;
    }
    .app__container {
        margin-top: calc(var(--header-height) + var(--shortNav-height));
    }
    .nav__shortNav-list {
        display: flex;
    }
    .app__container {
        padding-top: 10px;
    }
    .nav-mobile-category {
        display: block;
    }
}


/*tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header-with-search__cart {
        width: 80px;
        text-align: right;
    }
}

/* mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .header-with-search {
        justify-content: space-between;
    }

    .header-mobile-left {
        display: flex;
    }

    .header-with-search__cart {
        width: unset;
    }
    .header-with-search__logo-img {
        width: unset;
        padding-left: unset;
        height: 50px;
    }
    .header-with-search__logo-link {
        display: block;
        line-height: 0;
        width: unset;
    }
    .header-with-search__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        z-index: 10;
        padding: 0px 8px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        transform: translateY(-100%);
        transition: transform linear 0.1s;
        opacity: 0;
        visibility: hidden;
    }
    .header__search-history {
        position: fixed;
        top: var(--search-height-mobile);
        left: 0;
        width: 100%;
        padding: 0px 8px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    .pagination-item {
        margin: 0px 3px;
    }
    .pagination-item__link {
        min-width: 30px;
        font-size: 1.6rem;
    }

    .app__container {
        margin-left: 4px;
        margin-right: 4px;
    }

}