.box-group {
    width: 1000px;
    height: 500px;
    background-color: #888;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box1 {
    width: 500px;
    height: 200px;
    background-color: blue;
    display: flex;
    text-align: center;
}

.box2 {
    width: 300px;
    background-color: green;
}

.box3 {
    width: 300px;
    background-color: violet;
}

.box4 {
    width: 300px;
    background-color: yellow;
}

.box5 {
    width: 300px;
    background-color: firebrick;
}

.box6 {
    width: 600px;
    background-color: olivedrab;
}
